@media (max-width: 991px) {
  header {
    .menu-wrap {
      .header-menu {
        margin: 0;
        position: fixed;
        background: #77838F;
        z-index: 999;
        box-sizing: border-box;
        transition: 0.5s;
        right: -50px;
        top: 50px;
        width: 0;
        padding: 0;
        height: 0;
        border-radius: 100vh;

        &.show {
          right: calc((200vh - 100vw) / 2 * (-1));
          top: -50vh;
          display: flex;
          justify-content: center;
          flex-direction: column;
          border-radius: 0;
          padding: 30px;
          width: 200vh;
          height: 200vh;

          ul {
            flex-direction: column;
            align-items: center;

            li {
              margin: 0 0 25px 0;

              a, i {
                color: #ffffff;
              }
            }
          }

          .close-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            top: calc(50vh + 30px);
            right: calc((200vh - 100vw) / 2 + 30px);
            width: 30px;
            height: 30px;

            img {
              width: 20px;
              height: 20px;
            }
          }

        }
      }

      .open-menu {
        display: block;
        margin-left: 25px;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .close-menu {
        display: flex;
      }
    }
  }
  .hotels {
    padding: 60px 0 90px 0;
  }
  .hotel-item {
    .info-wrap {
      .action {
        a.details-btn {
          padding: 15px 25px;
        }

        a.save-btn {
          i {
            display: block;
            margin: 0 0 5px 0;
          }
        }
      }
    }
  }
  .download-app {
    padding: 70px 0;
  }

  .footer-wrap {
    .footer-menu-wrap {
      width: auto;
      justify-content: flex-start;

      .footer-menu-item {
        &:first-child {
          margin-right: 44px;
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .search-form {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .input-wrap {
      &:not(:last-child) {
        margin: 0 0 15px 0;
      }

      &.date-wrap {
        max-width: 100%;
        width: calc(50% - 20px);
      }

      &.btn-wrap {
        margin: 0 auto;
      }
    }
  }
  .hotels-head {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .hotels-content {
    flex-direction: column-reverse;

    .open-filter {
      max-width: max-content;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      margin-bottom: 25px;
      color: #77838F;
      font-size: 20px;
      line-height: 26px;

      i {
        margin-left: 5px;
        color: #77838F;
        font-size: 16px;
        transition: 0.5s;
      }

      &.open {
        i {
          transform: rotateX(180deg);
          transition: 0.5s;
        }
      }
    }
  }

  .hotel-list-wrap {
    width: 100%;
  }
  .hotel-filter {
    width: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    display: none;

    .filter-group {
      width: calc(50% - 15px);

      &:last-child {
        width: 100%;

        .filter-items {
          &.two-colunm {
            justify-content: flex-start;

            .container-checkbox {
              width: calc(100% / 4 - 40px);
            }
          }
        }
      }
    }
  }


  .footer-wrap {
    flex-wrap: wrap;

    .footer-info-wrap {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }

    .footer-menu-wrap {
      width: 100%;
      max-width: none;
      justify-content: space-around;
      margin-bottom: 15px;
    }

    .footer-contact-wrap {
      width: 100%;
      max-width: none;
      text-align: center;
    }
  }
}

@media (max-width: 500px) {
  .search-form {
    .input-wrap {
      &.date-wrap {
        width: 100%;
      }
    }
  }
  .hotels {
    padding: 40px 0;
  }
  .hotels-head {
    h2 {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    }

    .sort-wrap {
      flex-direction: column;

      .sort-count {
        margin-bottom: 20px;
      }

      .sort-view-wrap {
        select {
          margin-right: auto;
        }
      }
    }
  }

  .hotel-list {
    margin-bottom: 0;

    &.list-view {
      .hotel-item {
        padding: 15px;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        .img-wrap {
          margin-right: 10px;
          max-width: 100px;

          .price {
            position: relative;
            color: #1E2022;
            bottom: 0;
            font-size: 14px;
            line-height: 20px;
          }
        }

        .info-wrap {
          .hotel-attributes {
            flex-wrap: wrap;
            border: 0px;
            margin: 0;
            padding: 0;

            .attribute {
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;

              &:not(:last-child) {
                margin-right: 10px;
                margin-bottom: 5px;
              }
            }
          }

          .description {
            display: none;
          }
        }
      }
    }
  }

  .hotel-item {
    width: 100%;
    padding: 15px;

    &:last-child {
      margin-bottom: 20px;
    }

    .info-wrap {
      .location {
        display: block;
        text-align: center;
      }

      .hotel-attributes {
        justify-content: center;

        .attribute {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }

  }

  .hotel-filter {
    .filter-group {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      &:last-child {
        .filter-items {
          &.two-colunm {
            justify-content: space-between;

            .container-checkbox {
              width: calc(100% / 3 - 10px);
            }
          }
        }
      }
      h3{
        font-size: 16px;
        line-height: 22px;

      }

      .filter-items {
        .container-checkbox {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .download-app {
    padding: 40px 0;

    h3 {
      font-size: 24px;
      line-height: 36px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }

    .app-btn-wrap {
      flex-direction: column;
      align-items: center;

      .app-btn {
        &:first-child {
          margin: 0 0 20px 0;
        }
      }
    }
  }
  footer {
    padding-top: 40px;
  }
  .footer-wrap {
    padding-bottom: 40px;
  }

}


/*-------SINGLE-------*/
@media (max-width: 991px) {
  .image-grid{
    .view-photos{
      padding: 10px 15px;
      bottom: 16px;
      right: 10px;
    }
  }
  .content-wrap{
    .reviews{
      .row{
        .reviews-col{
          width: 100%;
          &:first-child{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .image-grid{
    .grid-wrap{
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      .gallery-1{
        grid-column: span 2;
      }
    }
  }

  .content-section{
    .content-section-wrap{
      flex-direction: column;
    }
  }

  .content-wrap{
    margin-bottom: 40px;
    width: 100%;
  }
  .content-wrap{
    .head-wrap,
    .description,
    .advantages-list,
    .amenities{
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .advantages-list{
      padding-left: 50px;
    }
    .amenities{
      .amenities-col{
        .amenities-item{
          width: 50%;
          margin-bottom: 10px;
        }
      }
    }
  }
  .book-wrap{
    width: calc(100% - 50px)
  }

}

@media (max-width: 500px) {
  .image-grid{
    .view-photos{
      font-size: 12px;
      line-height: 12px;
      padding: 10px;
      bottom: 8px;
      right: 8px;
    }
  }
  .content-section{
    padding: 30px 0 60px 0;
  }
  .content-wrap{
    .head-wrap{
      h1{
        font-size: 26px;
        line-height: 34px;
      }
    }
    .advantages-list{
      li{
        p{
          &:first-child{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
          }
          &:last-child{
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
    .description{
      p{
        font-size: 14px;
        line-height: 20px;
      }
    }
    .reviews{
      .row{
        box-shadow: none;
        padding: 0;
      }
    }
  }
  .book-wrap{
    padding: 0;
    width: 100%;
  }
}
